[Desktop Entry]
Name=Open-Agenda v1.3
Comment=Ultra Modern Glass Calendar UI
Exec=python3 /usr/share/open-agenda/open_agenda.py
Icon=open-agenda
Terminal=false
Type=Application
Categories=Office;Calendar;ProjectManagement;
Keywords=agenda;calendar;glass;modern;neon;ui;2025;
StartupNotify=true
