[Desktop Entry]
Name=Open-Agenda
Comment=Smart Local Calendar & Task Manager - The Best Agenda in the World!
Exec=python3 /usr/share/open-agenda/open_agenda.py
Icon=open-agenda
Terminal=false
Type=Application
Categories=Office;Calendar;ProjectManagement;
Keywords=agenda;calendar;todolist;tasks;schedule;organizer;
StartupNotify=true
