[Desktop Entry]
Name=Open-Agenda v1.2
Comment=Firefox-Style Modern Calendar UI
Exec=python3 /usr/share/open-agenda/open_agenda.py
Icon=open-agenda
Terminal=false
Type=Application
Categories=Office;Calendar;ProjectManagement;
Keywords=agenda;calendar;firefox;modern;ui;
StartupNotify=true
